<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lutescensapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".Comments" />
        <activity android:name=".TermsAndConditions" />

        <receiver android:name="com.allyants.notifyme.NotificationPublisher" />
        <receiver android:name="com.allyants.notifyme.BootNotifyMe">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".CompletedTasks"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".OpenTasks"
            android:theme="@style/NoActionBar" />
        <activity android:name=".TaskDetails" />
        <activity android:name=".AllTasks" />
        <activity android:name=".SaveElectricityTask" />
        <activity android:name=".SaveWaterTask" />
        <activity android:name=".RubbishTask" />
        <activity android:name=".BottledWaterTask" />
        <activity android:name=".CoffeeTask" />
        <activity android:name=".TreeTask" />
        <activity android:name=".CarTask" />
        <activity android:name=".TaskMenu" />
        <activity
            android:name=".UserProfile"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>