<html><body bgcolor="lightblue"><h1 align="center">Simplify MyReport</h1> <form action="/getTranslation" method="POST">   <h3>Report Content:</h3><textarea type="text" rows="5" cols="150" name="greet">Screening Mammogram.

Indication: Screening for malignancy.

Comparison: None.

Findings:
There are scattered areas of fibroglandular density.

Vascular calcifications are noted bilaterally. No mass or asymmetry.

Impression:
BI-RADS 2: Benign.</textarea><br/><input type="submit" value="Simplify"> </form><h3>Simplified Report</h3><table border=1><tr><th>Medical Terms</th><th>Simplified Report</th></tr><tr><td>

Vascular calcifications are noted bilaterally</td><td>Mineral deposits of calcium along blood vessels in both breasts. This is a normal finding and not a sign of breast cancer.</td></tr><tr><td>Screening Mammogram</td><td>A test that uses x-ray pictures of the breasts to look for signs of cancer in women who don’t have any symptoms or breast problems. This test usually consists of 4 pictures total (a top-view and side-view for each breast).</td></tr><tr><td>

Indication: Screening for malignancy</td><td>The reason why your doctor ordered this particular test. Often there will be billing code information included in this section.</td></tr><tr><td>

Comparison: None</td><td>The comparison section describes any mammograms you had in the past that the radiologist looked at to see if there were any small changes.</td></tr><tr><td>

Findings:
There are scattered areas of fibroglandular density</td><td>Breasts are made of fat and gland tissue. The amount of fat and gland tissue in the breast determines how the breast will look on a mammogram. The more gland tissue in a breast, the more white the breast appears on a mammogram. The amount of fat and gland tissue in the breast is graded from 1 to 4, all of which are normal. 1 means mostly fat tissue. 4 means mostly gland tissue. Your breast scores 2 which means that there is slightly more fat than gland tissue. This is normal.</td></tr><tr><td>

Impression:
BI-RADS 2: Benign</td><td>There are no signs of breast cancer. You don't need to worry about any of the findings described in the report. </td></tr><tr><td> No mass or asymmetry</td><td>There is one small area in the breast that looks different than the same area on the other breast. </td></tr></table></body>